.about__banner {
  position: relative;
  width: 100%;
  height: 360px;
  padding-bottom: 60px;
  background-image: url("/images/nlnv-about-banner.jpg");
  background-size: cover;
  background-position: center bottom;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(255, 255, 255, 0.65);
  }
}

.about__tab {
  &-section {
  	margin: -60px auto 0;
  }
  &-lists {
  	display: table;
  	table-layout: fixed;
  	width: 100%;
  	transform: translateY(5px);
    padding: 0;
    margin: 0;
  }
  &-list {
		transition-duration: 0.25s;
		display: table-cell;
		list-style: none;
		text-align: center;
		padding: 2rem 1rem;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		color: $primary-text;
    font-size: 1.75rem;
    font-weight: 600;
    &:before{
			z-index: -1;
			position: absolute;
			content: "";
			width: 100%;
			height: 120%;
			top: 0;
			left: 0;
			background-color: rgba(30, 52, 77, 0.3);
			transform: translateY(100%);
			transition-duration: 0.25s;
			border-radius: 5px 5px 0 0;
		}
    &:hover {
			&:before {
				transform: translateY(70%);
			}
		}
    &.active {
			color: $white;
			&:before {
				transition-duration: 0.5s;
				background-color: $blue;
				transform: translateY(0);
			}
		}
  }
  &-contents {
  	background-color: $blue;
  	position: relative;
  	width: 100%;
    margin: 0;
    padding: 0;
    color: $white;
  }
  &-content {
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		display: none;
		list-style: none;
    &-wrapper {
			text-align: center;
			border-radius: 5px;
			width: 100%;
  		padding: 8rem 4rem;
			background-color: $blue;
    }
  }
  &-introduction {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  &-icon .fa {
    font-size: 2.5rem;
  }
}

.about__vision {
  &-icon.fa {
    font-size: 4rem;
    margin: 2rem auto;
  }
}

.about__card {
  height: 300px;
  padding: 3rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > * {
    position: relative;
  }
  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    transition: 1s all;
  }
  &:before {
    background-color: rgba(255, 235, 178, 0.5);
  }
  &:after {
    border: 10px solid $white;
    opacity: 0.2;
    transition: 1s all;
  }
  &:hover:before {
    background-color: rgba(255, 255, 255, 0.75);
    transform: scale(0.9);
  }
  &:hover:after {
    opacity: 0;
  }
  &-info {
    font-size: 1.75rem;
    font-weight: 700;
  }
  &--leader {
    background-image: url(/images/about/about-leadership.jpg);
  }
  &--disciple {
    background-image: url(/images/about/about-biblestudy.jpg);
  }
  &--faith {
    background-image: url(/images/about/about-faith.jpg);
  }
  &--pray {
    background-image: url(/images/about/about-pray.jpg);
  }
  &--bible {
    background-image: url(/images/about/about-bible.jpg);
  }
  &--school {
    background-image: url(/images/about/about-school.jpg);
  }
}

@media screen and (max-width: 414px) {
  .about__tab {
    &-introduction {
      font-size: inherit;
    }
  }
}

@media screen and (max-width: 320px) {
  .about__tab {
    &-list {
      font-size: 1.5rem;
    }
  }
}
