.album__banner {
  position: relative;
  width: 100%;
  padding: 12rem 0 1rem;
}

.album__container {
  padding: 5rem 0 10rem;
}

.album__card {
  margin: 15px 0;
  &-inner {
    background-color: $white;
    display: block;
    box-shadow: 0px 3px 5px 0px rgba(125, 125, 125, 0.25);
    overflow: hidden;
    color: $darkgrey;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: currentColor;
      .album__card-img {
        transform: scale(1.1);
      }
      .album__card-icon,
      .album__card-img-wrapper:before {
        opacity: 1;
      }
    }
  }
  &-content {
    padding: 2rem;
  }
  &-img {
    width: 100%;
    display: block;
    margin: auto;
    transition: all 0.3s;
    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      max-height: 500px;
      overflow: hidden;
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.75);
        top: 0;
        left: 0;
        display: block;
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 1;
      }
    }
  }
  &-icon {
    position: absolute;
    z-index: 2;
    font-size: 5rem;
    opacity: 0;
    transition: opacity 0.3s;
  }
  &-title {
    color: $darkgreen;
    font-size: 2.5rem;
    line-height: 1.3;
    margin: 0 0 1.5rem;
    font-weight: 600;
  }
  &-info,
  &-date {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
}
