.directions__banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../img/nlnv-directions-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  color: $secondary-text;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.85);
  }
  * {
    position: relative;
  }
  &-info {
    font-size: 1.75rem;
    font-weight: 300;
  }
  &-input {
    margin-top: 1rem;
  }
}

.directions__map {
  height: 100%;
  background-position: center;
  background-size: cover;
  &-container {
    height: 50vh;
    width: 100%;
  }
}

.directions__list {
  &-container {
    display: none;
    padding: 2rem 2rem 5rem;
  }
  .adp, .adp table {
    width: 100%;
  }
}
