.photo__banner {
  position: relative;
  width: 100%;
  padding: 12rem 0 1rem;
}

.photo__container {
  padding: 5rem 0 10rem;
}

.photo__wrapper {
  max-width: 90%;
  margin: auto;
}

.photo__popup {
  padding: 1rem;
}