.support__container {
  position: relative;
  height: calc(100vh - 93px);
  min-height: 525px;
  background-color: $offwhite;
}

.support__navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 68px;
  width: 100%;
  &-btn {
    position: absolute;
    background-color: $darkgreen;
    color: $white;
    font-size: 4rem;
    padding: 1rem;
    &:hover,
    &:focus,
    &:active {
      color: $white;
      text-decoration: none;
    }
    &-prev {
      left: 0;
      padding-right: 1.5rem;
    }
    &-next {
      right: 0;
      padding-left: 1.5rem;
    }
  }
}

.support__slider {
  width: 100%;
  height: 100%;
  .slick-list,
  .slick-slide,
  .slick-track {
    width: 100%;
    height: 100% !important;
  }
  .slick-current {
    z-index: 9999;
  }
  .slick-slide > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .support__slide {
    padding: 15px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    & > * {
      position: relative;
    }
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(255, 255, 255, 0.9);
    }
    &:focus {
      outline: none;
    }
    &-logo {
      max-width: 75%;
      width: 275px;
      margin: 0 auto 3rem;
    }
    &-title {
      font-size: 2.5rem;
    }
    &-subtitle {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 414px) {
  .support__slide {
    &-title {
      font-size: 2rem;
    }
    &-subtitle {
      font-size: 1.5rem;
    }
  }
  .support__navigation {
    height: 44px;
    &-btn {
      font-size: 2rem;
      &-prev {
        padding-right: 1.5rem;
      }
      &-next {
        padding-left: 1.5rem;
      }
    }
  }
}
